/*CONTACT*/

.contact {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2252px;
  width: 1369px;
}

.contact .header {
  align-items: flex-end;
  background-color: var(--fern-green);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 330px;
  justify-content: flex-start;
  min-width: 1369px;
  padding: 0 21px;
  width: auto;
}

.contact .overlap-group4 {
  margin-left: 55px;
}

.contact .accueil {
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 125px;
}

.contact .overlap-group {
  margin-left: 50px;
}

.contact .place-1 {
  left: 14px;
  position: absolute;
  top: 21px;
  width: 152px;
}

.contact .place-2 {
  align-self: center;
  margin-top: 168px;
  min-height: 32px;
  white-space: nowrap;
  width: 503px;
}

.contact .contact {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  margin-left: -622px;
  margin-top: 100px;
  margin-bottom: -800px;
}

.contact .email {
  height: 1.3em;
  
}


.contact .title {
  height: 1.3em;
}


.contact .description {
  height:  1.3em;
}

.contact .button {
  background-color: #8fb78e;
  color: black;
  border: black;
  text-align: center;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  font-size: 30px;
}

.contact .footer {
  align-items: center;
  background-color: var(--lunar-green);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 550px;
  height: 270px;
  justify-content: flex-end;
  min-width: 1220px;
  padding: 66px 82.5px;
  width: auto;
  margin-left: -1315px;
  margin-top: 100px;
  margin-bottom: -1925px;
}

.contact .place-3 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
