/*ACCUEIL*/
.pc-accueil {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 2702px;
  overflow: hidden;
  width: 1369px;
}

.pc-accueil .overlap-group6 {
  height: 854px;
  margin-left: 2.0px;
  position: relative;
  width: 1371px;
}

.pc-accueil .img_20210529_111027-scaled-1 {
  height: 524px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 330px;
  width: 720px;
}

.pc-accueil .overlap-group5 {
  height: 854px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1371px;
}

.pc-accueil .rectangle-2 {
  background-color: #8fb78e;
  height: 524px;
  left: 720px;
  position: absolute;
  top: 330px;
  width: 651px;
}

.pc-accueil .bienvenue-dans-le-pa {
  left: 725px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 329px;
  width: 644px;
}

.pc-accueil .header {
  align-items: flex-end;
  background-color: #417840;
  display: flex;
  flex-direction: row;
  height: 330px;
  justify-content: flex-start;
  left: 0;
  min-width: 1369px;
  padding: 0 21px;
  position: absolute;
  top: 0;
  width: auto;
}

.pc-accueil .overlap-group1 {
  align-items: flex-start;
  background-color: #cfe2cf;
  display: flex;
  height: 89px;
  justify-content: flex-end;
  margin-left: 55px;
  min-width: 175px;
  padding: 21px 21.8px;
}

.pc-accueil .accueil {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  text-align: center;
  width: 125px;
}

.pc-accueil .overlap-group {
  height: 89px;
  margin-left: 50px;
  position: relative;
  width: 175px;
}

.pc-accueil .place-1 {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 152px;
}

.pc-accueil .Images {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin-right: 7px;
  margin-top: 107px;
  min-width: 1336px;
}

.pc-accueil .restaurant-1 {
  height: 305px;
  object-fit: cover;
  width: 414px;
}

.pc-accueil .jungle-1 {
  height: 298px;
  margin-left: 44px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 430px;
}

.pc-accueil .toucan-jungle-1 {
  height: 298px;
  margin-left: 58px;
  margin-top: 1.0px;
  object-fit: cover;
  width: 390px;
}

.h1 {
  font-size: 123px;
  height: 298px;
  width: 390px;
}

.avis {
  font-size: 123px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 75.0px;
  margin-top: 77px;
  min-height: 32px;
  width: 1083px;
  align-self: flex-start;
  height: 104px;
}

.envoyer {
  align-self: flex-start;
}

.submit {
    width: 100%;
  }


.pc-accueil .footer {
  align-items: center;
  background-color: #2e4b2e;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 550px;
  height: 30px;
  justify-content: flex-end;
  margin-top: 92px;
  min-width: 1369px;
  padding: 5px 67.5px;
  width: auto;
}

