/*CONTACT*/

.pc-contact {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2252px;
  width: 1369px;
}

.pc-contact .header {
  align-items: flex-end;
  background-color: var(--fern-green);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 330px;
  justify-content: flex-start;
  min-width: 1369px;
  padding: 0 21px;
  width: auto;
}

.pc-contact .overlap-group4 {
  margin-left: 55px;
}

.pc-contact .accueil {
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 125px;
}

.pc-contact .overlap-group {
  margin-left: 50px;
}

.pc-contact .place-1 {
  left: 14px;
  position: absolute;
  top: 21px;
  width: 152px;
}

.pc-contact .place-2 {
  align-self: center;
  margin-top: 168px;
  min-height: 32px;
  white-space: nowrap;
  width: 503px;
}

.pc-contact .email {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 105px;
  margin-top: 203px;
  min-height: 32px;
  white-space: nowrap;
}

.pc-contact .rectangle-1-1 {
  align-self: center;
  border: 1px solid;
  border-color: var(--black);
  height: 104px;
  margin-right: 76.0px;
  margin-top: 21px;
  width: 1083px;
}

.pc-contact .titre {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 105px;
  margin-top: 84px;
  min-height: 32px;
  white-space: nowrap;
}

.pc-contact .description {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 105px;
  margin-top: 91px;
  min-height: 32px;
  white-space: nowrap;
}

.pc-contact .rectangle-19 {
  align-self: center;
  border: 1px solid;
  border-color: var(--black);
  height: 404px;
  margin-right: 76.0px;
  margin-top: 21px;
  width: 1083px;
}

.pc-contact .avis-envoyer {
  align-items: flex-start;
  background-color: var(--tasman);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 106px;
  margin-left: 98px;
  margin-top: 62px;
  min-width: 274px;
  padding: 27px 21px;
}

.pc-contact .footer {
  align-items: center;
  background-color: var(--lunar-green);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 550px;
  height: 270px;
  justify-content: flex-end;
  margin-top: 135px;
  min-width: 1369px;
  padding: 5px 67.5px;
  width: auto;
}

.pc-contact .place-3 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
