/*TABLEAU DE BORD*/

.pc-tableau-de-bord {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1745px;
  width: 1369px;
}

.pc-tableau-de-bord .overlap-group5 {
  height: 330px;
  position: relative;
  width: 1369px;
}

.pc-tableau-de-bord .header {
  align-items: flex-end;
  background-color: var(--fern-green);
  display: flex;
  flex-direction: row;
  height: 330px;
  justify-content: flex-start;
  left: 0;
  min-width: 1369px;
  padding: 0 21px;
  position: absolute;
  top: 0;
  width: auto;
}

.pc-tableau-de-bord .overlap-group2 {
  align-items: flex-start;
  background-color: var(--tasman);
  display: flex;
  height: 89px;
  justify-content: flex-end;
  margin-left: 55px;
  min-width: 175px;
  padding: 21px 21.8px;
}

.pc-tableau-de-bord .accueil {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  text-align: center;
  width: 125px;
}

.pc-tableau-de-bord .overlap-group {
  height: 89px;
  margin-left: 50px;
  position: relative;
  width: 175px;
}

.pc-tableau-de-bord .place-1 {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 21px;
  width: 152px;
}

.pc-tableau-de-bord .dconnexion {
  align-items: flex-start;
  background-color: #cfe2cf;
  border: 1px solid;
  border-color: var(--black);
  cursor: pointer;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  left: 1062px;
  min-width: 279px;
  padding: 24px 25px;
  position: absolute;
  top: 28px;
}

.pc-tableau-de-bord .dconnexion-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 222px;
  text-align: center;
}

.pc-tableau-de-bord .overlap-group4 {
  align-items: flex-start;
  background-color: #8fb78e;
  display: flex;
  flex-direction: column;
  gap: 77px;
  margin-top: 1px;
  min-height: 1144px;
  padding: 27px 0;
  width: 358px;
}

.pc-tableau-de-bord .overlap-group4-item {
  letter-spacing: 0;
  line-height: normal;
  min-height: 55px;
  text-align: center;
  width: 358px;
}

.pc-tableau-de-bord .footer {
  align-items: center;
  background-color: var(--lunar-green);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 550px;
  height: 365px;
  justify-content: flex-end;
  min-width: 1369px;
  padding: 66px 67.5px;
  width: auto;
}
